@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

.arrow {
  width: 0.5rem;
  height: 0.5rem;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  box-shadow: 2px 2px;
}
#presen {
  display: flex;
  width: 100vw;
  height: 100dvh;
  .panel {
    transition-property: all;
    transition-duration: 0.5s;
  }
  .center {
    background-color: var(--color-base-300);
    display: grid;
    place-items: center;
  }
  @media (min-aspect-ratio: 1/1) {
    .panel {
      min-width: 0;
      width: 0;
      overflow: hidden;
    }
    .arrow {
      transform: rotate(-45deg);
    }
    .center {
      height: 100%;
      width: 20px;
    }
    &.show-panel {
      .panel {
        min-width: 370px;
        width: 50%;
      }
      .arrow {
        transform: rotate(135deg);
      }
      .content {
        flex-shrink: 1;
      }
    }
  }
  @media (max-aspect-ratio: 1/1) {
    flex-direction: column;
    .panel {
      min-height: 0;
      height: 0;
      overflow: hidden;
    }
    .arrow {
      transform: rotate(45deg);
    }
    .center {
      width: 100%;
      height: 20px;
    }
    .content {
      height: calc(100% - 20px);
    }
    &.show-panel {
      .panel {
        min-height: 370px;
        height: 90%;
      }
      .arrow {
        transform: rotate(225deg);
      }
      .content {
        height: 10%;
      }
    }
  }
  .content {
    flex-grow: 1;
    .current-section {
      position: relative;
      z-index: 1;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: -2rem;
        left: 0;
        right: 0;
        z-index: -1;
        background: linear-gradient(
          to bottom,
          var(--color-primary),
          transparent
        );
        filter: blur(5px);
        animation: 2s ease-in-out forwards fadeout;
      }
    }
    .presentation {
      padding-bottom: 50%;
      scroll-padding-top: 2rem;
      scroll-snap-type: y mandatory;
    }
    .reaction-item {
      font-size: 5rem;
      position: absolute;
      animation: 1.5s ease-out forwards reaction-item;
    }
    .reaction-sender {
      touch-action: manipulation;
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
      button {
        flex: 1;
        font-size: 150%;
      }
    }
  }
}
@keyframes reaction-item {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
