@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  exclude: properties;
}

@import "./styles/simplechat.css";
@import "./styles/presen.css";
@import "./styles/terminal.css";
